.image-gallerypicker-images-wrapper{
  border: 1px solid #CCCCCC;
  padding: 10px;
}

.gallerypicker-item-list{
  float: left;
  list-style: none;
}

.view-gallery-image-picker table{
  border: 0px;
  margin:0px;
}

.view-gallery-image-picker table td.col-last {
  width: 100%;
  border: 0px;
  text-align:left;
}

.view-gallery-image-picker table td img{

}

.view-gallery-image-picker table td img:hover{
  outline: 3px solid #00CC00;           
}

.view-gallery-image-picker table td img.active{
  outline: 3px solid #00CC00;           
}


