
#main-part .messages{
  padding: 10px 10px 10px 10px;
}
#main-part .status{
  border: 2px solid #208B2C;
  background: #B7ECBD;
}
/* ------------ BOF: CONTENT ------------ */
#content TABLE{
  width: 100%;
}
#content LI.active{
  border: 0px;
}

.table-block{
  margin: 0px 0px 40px 0px;
}
.table-block .table-block-title{
  background: url(../img/block-header3.gif) no-repeat;
  height: 26px;
}
.table-block .table-block-title H2{
  font-family: Tahoma;
  padding: 3px 0px 0px 0px;
  margin: 0px;
  color: #FFFFFF;
  text-transform: upper;
  text-align: center;
  background: url(../img/block-header3.gif) no-repeat right -26px;
}
.table-block .table-block-body{
  border: 1px solid #CFCFCF;
  border-top: 0px;
  padding: 5px 10px 10px 10px;
}
/* BOF: fc-content style */
.fc-content-view{
  margin: 10px 0px 20px 0px;
  padding: 0px;
  background: url(../img/block-header3.gif) no-repeat 0 0;
}
.fc-content-view H2{
  font-family: Tahoma;
  margin: 0px;
  padding: 3px 0px 5px 10px;
  color: #FFFFFF;
  font-weight: bold;
  background: url(../img/block-header3.gif) no-repeat right -26px;
}
.fc-content-view .fc-content{
  padding: 10px 10px 10px 10px;
  border: 1px solid #CCCCCC;
  border-top: 0px;
}
.fc-content-view .fc-content .teaser-node-news{
  width: auto;
}
.fc-content-view .fc-content .teaser-node-news .news-body{
  width: auto;
}
.view-content-news-by-type .teaser-node-news .news-body,
.view-content-news-by-date .teaser-node-news .news-body{
  width: 700px !important;
}
/* EOF: fc-content style */


/* BOF: ---- MATCHES ---- */
#node-match{
  
}
#node-match .left-part{
  float: left;
  width: 730px;
  margin: 0px 20px 0px 0px;
}
#node-match .right-part{
  float: left;
  width: 200px;
}

#node-match .match-teaser{
  background: url(../img/block-header2.gif) no-repeat 0 0;
  margin-bottom: 20px;
}
#node-match .match-teaser H2{
  font-family: Tahoma;
  padding: 5px 0px 4px 10px;
  margin: 0px;
  background: url(../img/block-header2.gif) no-repeat right -26px;
}
#node-match .teaser-left-part{
  float: left;
  width: 200px;
}
#node-match .teaser-right-part{
  float: left;
  width: 500px;
  padding: 15px 0px 15px 0px;
  border-left: 1px solid #D0D0D0;
  text-align: center;
}
#node-match .match-teaser .teaser-content{
  border: 1px solid #D0D0D0;
  border-top: 0px;
}
#node-match .match-teaser .team-block,
#node-match .match-teaser .vs{
  float: left;
}
#node-match .match-teaser .players{
  padding: 10px 0px 10px 0px;
}
#node-match .match-teaser .team-block{
  width: 90px;
  text-align: center;
}
#node-match .match-teaser .vs{
  padding: 20px 0px 0px 0px;
}
#node-match .match-teaser .team-line{
  font-size: 16px;
  color: #40AC1E;
  font-weight: bold;
}
#node-match .match-teaser .additional-info{
  border-top: 1px solid #D0D0D0;
  padding: 10px 10px 10px 10px;
}
#node-match .match-teaser .additional-info .info{
  padding: 3px 0px 3px 0px;
}
#node-match .match-teaser .additional-info .info P{
  margin: 0px;
  padding: 0px;
}
#node-match .match-teaser .additional-info .info .label{
  font-weight: bold;
}
/*bof: tabs*/
#node-match .tabs .header{
  border-bottom: 1px solid #D0D0D0;
}
#node-match .tabs .header .tab{
  float: left;
  cursor: pointer;
  height: 25px;
  background: url(../img/tab1.png) no-repeat 0 0;
  padding: 0px 0px 0px 20px;
  margin-bottom: -2px;
}
#node-match .tabs .header .tab .text{
  background: url(../img/tab1.png) no-repeat right -25px;
  padding: 5px 20px 5px 0px;
  color: #B9141A;
  font-weight: bold;
}
#node-match .tabs .header .tab-active{
  background: url(../img/tab1.png) no-repeat 0 -50px;
}
#node-match .tabs .header .tab-active .text{
  background: url(../img/tab1.png) no-repeat right -75px;
  color: #636363;
}

#node-match .tabs .content{
  border: 1px solid #D0D0D0;
  border-top: 0px;
  min-height: 250px;
}
#node-match .tabs .content .tab{
  display: none;
}
#node-match .tabs .content .tab-active{
  display: block;
  padding: 10px 10px 10px 10px;
}
#node-match .tabs .content .news-link{
  margin-top: 20px;
}
/*eof: tabs*/

#node-match .right-part .team-block{
  background: url(../img/block-header3.gif) no-repeat 0 0;
  margin-bottom: 10px;
}
#node-match .right-part .team-block H2{
  font-family: Tahoma;
  margin: 0px;
  padding: 3px 0px 5px 10px;
  color: #FFFFFF;
  font-weight: bold;
  background: url(../img/block-header3.gif) no-repeat right -26px;
  text-align: center;
}
#node-match .right-part .team-block H2 A{
  color: #FFFFFF;
}
#node-match .right-part .team-block .team-players{
 /* padding: 10px 10px 10px 10px;*/
  border: 1px solid #CCCCCC;
  border-top: 0px;
  background: #FFFFFF url(../img/block-bg1.png) repeat-x 0px bottom;
  line-height: 1.3em;
  color: #333333;
}
#node-match .right-part .team-block .team-players P{
  padding: 0px;
  margin: 0px;
}
/* EOF: ---- MATCHES ---- */


/* BOF: ---- GALLERY AREA ---- */

.gallery-view-area{
  
}
.gallery-view-area .gallery-image{
  float: left;
  width: 140px;
  height: 130px;
  border: 2px solid #BBBBBB;
  background: #EEEEEE;
  margin: 10px 5px 0px 5px;
}
.gallery-view-area .gallery-image .image{
  text-align: center;
  padding-top: 5px;
}
.gallery-view-area .gallery-image .image A IMG{
  border: 2px solid #BBBBBB;
  padding: 0px;
}
.gallery-view-area .gallery-image .image A:hover IMG{
  border: 2px solid #AAAAAA;
}
/* EOF: ---- GALLERY AREA ---- */


/* BOF: ---- NOTICES BLOCK ---- */
.block-teasers{
  
}
.block-teasers .notice-block-teaser{
  padding: 0px 0px 5px 0px;
  font-size: 10px;
  margin: 0px 0px 5px 0px;
  border-bottom: 1px solid #A0A0A0;
}
.block-teasers .notice-block-teaser H3{
  margin: 0px;
}
.block-teasers .notice-block-teaser H3 A{
  color: #40AC1E;
  font-weight: bold;
  font-size: 10px;
}
.block-teasers .footer{
  font-size: 10px;
}
/* EOF: ---- NOTICES BLOCK ---- */
.block .footer{
  font-size: 10px;
}

/* BOF: ---- BLOG ---- */

/* bof: all bloggers page */
.blog-box{
  background: url(../img/block-header3.gif) no-repeat 0 0;
  margin-bottom: 10px;
}
.blog-box H2{
  font-family: Tahoma;
  margin: 0px;
  padding: 3px 0px 5px 10px;
  color: #FFFFFF;
  font-weight: bold;
  background: url(../img/block-header3.gif) no-repeat right -26px;
  text-align: center;
}
.blog-box .blog-content{
  border: 1px solid #CCCCCC;
  border-top: 0px;
  padding: 15px 10px 15px 10px;
}
.blog-box .blog-left-part{
  float: left;
  width: 180px;
  margin-right: 10px;
}
.blog-box .blog-left-part .image{
  text-align: center;
}
.blog-box .blog-left-part .image IMG{
  width: 180px;
  height: auto;
}
.blog-box .blog-right-part{
  float: left;
  /*border: 1px solid #888888;*/
  width: 730px;
}
.blog-box .blog-content .label{
  color: #B9141A;
  font-weight: bold;
}
.blog-box .blog-content UL{
  margin: 0px;
  padding: 10px 0px 10px 5px;
}
.blog-box .blog-content UL LI{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.blog-box .blog-content .read-more A{
  color: #40AC1E;
  font-weight: bold;
}
.blog-box .blog-footer{
  background: url(../img/block-footer-bg.gif) repeat-x 0px bottom;
  
}
.blog-box .blog-footer .blog-author{
  float: left;
  width: 350px;
  color: #40AC1E;
  margin-left: 10px;
}
.blog-box .blog-footer .blog-info{
  float: right;
  text-align: right;
  width:570px;
}
.blog-box .blog-footer .blog-info .blogs-count{
  float: right;
  margin-right: 10px;
}
/* eof: all bloggers page */


/* bof: bloggers index page */
.blogger-page .user-blog-block{
  float: left;
  margin: 0px 20px 0px 0px;
}
.blogger-page .user-blog-block .blog-avatar{
  text-align: center;
}
.blogger-page .user-blog-block .blog-avatar IMG{
  width: 180px;
  height: auto;
}
.blogger-page .view-user-blog{
  float: left;
  padding: 0px 10px 0px 0px;
  width: 690px;
}
.blogger-page .view-user-blog UL{
  padding: 10px 0px 10px 0px;
  margin: 0px;
}
.blogger-page .view-user-blog UL LI{
  padding: 0px;
  margin: 0px;
  list-style: none;
}
/* eof: bloggers index page */


/* bof: blog posts page */
.blog-post-page{
  
}
.blog-post-page .left-part{
  float: left;
  width: 680px;
  padding: 5px 0px 10px 10px;
}
.blog-post-page .right-part{
  float: right;
}
.blog-post-page .comments-title{
  font-weight: bold;
  color: #B9141A;
  margin-top: 70px;
  text-transform: uppercase;
}
/* eof: blog posts page */

/* bof: user blog block*/
.user-blog-block{
  background: url(../img/block-header4.gif) no-repeat 0 0;
  width: 220px;
}
.user-blog-block H2{
  font-family: Tahoma;
  font-size: 12px;
  margin: 0px;
  padding: 5px 0px 3px 10px;
  height: 31px;
  color: #FFFFFF;
  font-weight: bold;
  background: url(../img/block-header4.gif) no-repeat right -39px;
  text-align: center;
}
.user-blog-block .block-content{
  border: 1px solid #CCCCCC;
  border-top: 0px;
  padding: 10px 20px 10px 20px;
}
.user-blog-block .block-content .blog-avatar{
  text-align: center;
  margin-bottom: 10px;
}
.user-blog-block .block-content .blog-avatar IMG{
  width: 180px;
  height: auto;
}
.user-blog-block .block-content .blog-author{
  margin-bottom: 10px;
}
.user-blog-block .block-content .blog-author .name{
  color: #40AC1E;
  font-weight: bold;
}
.user-blog-block .block-content .blog-rate{
  margin-bottom: 10px;
}
.user-blog-block .block-content .post-number{
  margin-bottom: 10px;
}

.blog-block-teaser{
  padding: 1px 0px 10px 0px;
  margin: 0px 0px 10px 0px;
  border-bottom: 1px solid #EFEFEF;
}
.blog-block-teaser .blog-name{
  color: #A0A0A0;
  margin-bottom: 3px;
}
.blog-block-teaser .blog-name .name{
  color: #B9141A;
  font-weight: bold;
}
.blog-block-teaser H3{
  margin: 0px;
}
.blog-block-teaser H3 A{
  color: #40AC1E;
  font-size: 11px;
}
.blog-block-teaser .teaser{
  font-size: 10px;
  padding: 3px 0px 3px 0px;
}
.blog-block-teaser .info{
  text-align: right;
  font-size: 10px;
}
/* eof: user blog block*/

/* BOF: MY BLOG BLOCK */
.my-blog{
  
}
.my-blog .blog-title{
  text-align: center;
}
.my-blog .blog-title A{
  font-weight: bold;
}
.my-blog .avatar{
  text-align: center;
}
.my-blog .avatar IMG{
  width: 180px;
  height: auto;
}
/* EOF: MY BLOG BLOCK */

/* EOF: ---- BLOG ---- */


/* BOF: PLAYER INFO PAGE */
.player-page .left-part{
  float: left;
  width: 230px;
  margin: 0px 20px 0px 0px;
}
.player-page .right-part{
  float: left;
  width: 700px;
}
.player-page .player-box-info{
  background: url(../img/block-header4.gif) no-repeat 0 0;
}
.player-page .player-box-info H2{
  font-family: Tahoma;
  margin: 0px;
  padding: 5px 0px 3px 10px;
  color: #FFFFFF;
  height: 31px;
  font-weight: bold;
  background: url(../img/block-header4.gif) no-repeat right -39px;
  text-align: center;
}
.player-page .player-box-info .box-content{
  border: 1px solid #CCCCCC;
  border-top: 0px;
  padding: 5px 5px 5px 5px;
}
.player-page .player-box-info .box-content .label{
  font-weight: bold;
}
.player-page .player-box-info .box-content .photo{
  text-align: center;
  margin-bottom: 10px;
}
.player-page .player-box-info .box-content .photo IMG{
  width: 220px;
  height: auto;
}
.player-page .player-box-info .box-content .birth-place{
  margin-bottom: 10px;
}
.player-page .player-box-info .box-content .gallery{
  margin: 10px 0px 10px 0px;
}
.player-page .player-box-info .box-content .gallery A{
  color: #40AC1E;
  font-weight: bold;
}
.player-box-info p{
  margin:0px;
}
.player-page .right-part H2{
  
}
/* EOF: PLAYER INFO PAGE */


/* BOF: TRAINER INFO PAGE */
.trainer-page .left-part{
  float: left;
  width: 230px;
  margin: 0px 20px 0px 0px;
}
.trainer-page .right-part{
  float: left;
  width: 700px;
}
.trainer-page .trainer-box-info{
  background: url(../img/block-header4.gif) no-repeat 0 0;
}
.trainer-page .trainer-box-info H2{
  font-family: Tahoma;
  margin: 0px;
  padding: 5px 0px 3px 10px;
  color: #FFFFFF;
  height: 31px;
  font-weight: bold;
  background: url(../img/block-header4.gif) no-repeat right -39px;
  text-align: center;
}
.trainer-page .trainer-box-info .box-content{
  border: 1px solid #CCCCCC;
  border-top: 0px;
  padding: 5px 5px 5px 5px;
}
.trainer-page .trainer-box-info .box-content .label{
  font-weight: bold;
}
.trainer-page .trainer-box-info .box-content .photo{
  text-align: center;
  margin-bottom: 10px;
}
.trainer-page .trainer-box-info .box-content .photo IMG{
  width: 220px;
  height: auto;
}
.trainer-page .trainer-box-info .box-content .birth-place{
  margin-bottom: 10px;
}
.trainer-page .trainer-box-info .box-content .gallery{
  margin: 10px 0px 10px 0px;
}
.trainer-page .trainer-box-info .box-content .gallery A{
  color: #40AC1E;
  font-weight: bold;
}
.trainer-page .right-part H2{
  
}
/* EOF: TRAINER INFO PAGE */


/* BOF: STADIUM INFO PAGE */
.stadium-page .left-part{
  float: left;
  width: 230px;
  margin: 0px 20px 0px 0px;
}
.stadium-page .right-part{
  float: left;
  width: 700px;
}
.stadium-page .stadium-box-info{
  background: url(../img/block-header3.gif) no-repeat 0 0;
}
.stadium-page .stadium-box-info H2{
  font-family: Tahoma;
  margin: 0px;
  padding: 3px 0px 5px 10px;
  color: #FFFFFF;
  font-weight: bold;
  background: url(../img/block-header3.gif) no-repeat right -26px;
  text-align: center;
}
.stadium-page .stadium-box-info .box-content{
  border: 1px solid #CCCCCC;
  border-top: 0px;
  padding: 5px 5px 5px 5px;
}
.stadium-page .stadium-box-info .box-content .label{
  font-weight: bold;
}
.stadium-page .stadium-box-info .box-content .photo{
  text-align: center;
  margin-bottom: 10px;
}
.stadium-page .stadium-box-info .box-content .photo IMG{
  width: 220px;
  height: auto;
}
.stadium-page .stadium-box-info .box-content .placement{
  margin-top: 10px;
}
.stadium-page .stadium-box-info .box-content .gallery{
  margin: 10px 0px 10px 0px;
}
.stadium-page .stadium-box-info .box-content .gallery A{
  color: #40AC1E;
  font-weight: bold;
}
/* EOF: STADIUM INFO PAGE */


/* BOF: ARCHIVE */
.node-archive-teaser{
  margin: 0px 0px 30px 0px;
}
/* EOF: ARCHIVE */
/* ------------ EOF: CONTENT ------------ */




/* ------------ BOF: HOME PAGE ------------ */

/* BOF: top news block {FRONT PAGE} */
.front-page #content #block-custom_pages-0{
  background: none;
  margin-bottom: 10px;
  padding: 0px !important;
}
.front-page #content #block-custom_pages-0 .content{
  padding: 0px;
  border: 0px;
}

#block-dhtml_menu-212{
  
}
#block-dhtml_menu-212 .content{
  padding: 0px;
}
#block-dhtml_menu-212 .content A{
  cursor: pointer;
}
#block-dhtml_menu-1 .content{
  padding: 0px 5px 0px 5px;
  font-size: 10px;
}
#block-custom-1 .content{
	padding: 0px;
}
#block-custom-1 .content IMG{
	width: 195px;
}
#block-custom_pages-2 TABLE TH,
#block-custom_pages-2 TABLE TD{
  font-size: 10px;
}
#block-views-qrss_view_inoprosport_ru {padding-top: 10px;}
#block-views-qrss_view_inoprosport_ru .content{
	margin-top: -10px;
	border: 1px solid #CCC;
	border-top: 0px;
	padding: 10px 0px 10px 0px;
}
#block-views-qrss_view_inoprosport_ru .item-list LI{
	list-style: none;
	margin: 0px;
}
#block-views-qrss_view_inoprosport_ru .item-list LI UL LI{
	margin: 0 0 0.25em 1.5em;
	padding: 0;
	list-style: disc;
}
/* EOF: top news block {FRONT PAGE} */


/* BOF: CHATROOM CHAT PAGE */
.chatroom-chat-page{
	
}
.chatroom-chat-page #content{
	float: left;
	width: 750px;
}
.chatroom-chat-page #right{
	width: 200px;
	float: right;
}
/* EOF: CHATROOM CHAT PAGE */

/* BOF: read news page */
.node-news-item{
  
}
.node-news-item .left-part{
  width: 502px;
  margin-right: 10px;
  float: left;
}
.node-news-item .right-part{
  width: 440px;
  float: right;
}
.node-news-item #latest-news-block{
  margin-top: 0px
}
.node-news-item .teaser-node-news .news-body{
  width: 300px;
}

#read-news-item{
  border: 1px solid #CCCCCC;
  background: #FFFFFF url(../img/block-bg1.png) repeat-x 0px bottom;
  padding: 0px;
}
#read-news-item .news-image{
  text-align: center;
}
#read-news-item .news-content{
  padding: 0px 5px 5px 5px;
}
#read-news-item .news-content .news-tags{
  padding: 10px 0px 5px 0px;
  font-size: 10px;
  font-weight: bold;
}
#read-news-item .news-content IMG{
  vertical-align: middle;
}
#read-news-item .news-content .news-footer{
  text-align: right;
}
#read-news-item .news-content .news-footer .news-date{
  font-size: 10px;
  font-weight: bold;
  color: #038710;
}
#read-news-item .news-content .news-footer .news-source,
#read-news-item .news-content .news-footer .news-author{
  color: #888888;
}
#read-news-item .news-content .news-footer .info-value{
  color: #000000;
  font-weight: bold;
}
/* EOF: read news page */


/* BOF: news list teser view */
#latest-news-block .news-block-content {
  border: 1px solid #CCCCCC;
  border-top: 0px;
  margin-top: 5px;
  padding: 10px 10px 10px 10px;
}
#latest-news-block .news-block-content .teaser-content{
  font-size: 10px;
}
/* EOF: news list teser view */


/* BOF: home page sidebae menus */
.front-page #left{
  width: 200px;
  margin: 0px 0px 0px 10px;
}
/*bof: prev. match */
#block-views-matches-last-match{
  font-size: 10px;  
}
#block-views-matches-prev-match .content,
#block-views-matches-next-match .content{
  background: #FFFFFF url(../img/block-bg1.png) repeat-x 0px bottom;
  padding: 10px 0px 0px 0px;
}
#block-views-matches-next-match .view-empty-match-next,
#block-views-matches-prev-match .view-empty-match-prev{
  text-align: center;
}
#block-views-matches-next-match .online-link{
 /* padding: 3px 0px 3px 0px;
  text-align: center;
  float:left;        */
}
#block-views-matches-next-match .online-link A{
  font-weight: bold;
  font-size: 11px;
  color: #0000FF;
}
.match-block .players .team-block,
.match-block .players .vs{
  float: left;
  font-size: 12px;
}
.match-block .players .team-block{
  width: 80px;
  padding: 0px 2px 5px 2px;
}
.match-block .players .vs{
  padding: 20px 0px 0px 0px;
}
.match-block .emblems-line{
  text-align: center;
}
.match-block .team-names-line{
  text-align: center;
  font-weight: bold;
  color: #B9141A;
  font-size: 12px;
}
.match-block .score{
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  color: #B9141A;
}
.match-block .tournament-type{
  text-align: center;
  margin: 3px 5px 3px 5px;
  padding: 3px 0px 3px 0px;
  border: 1px solid #CCCCCC;
  border-left: 0px;
  border-right: 0px;
}
.match-block .date{
  text-align: center;
}
.match-block .footer{
  text-align: center;
  border-top: 1px solid #CCCCCC;
  margin: 3px 0px 0px 0px;
  padding: 1px 0px 3px 0px;
}
.match-block .footer A{
  color: #40AC1E;
  font-size: 11px;
  font-weight: bold;
}
/*eof: prev. match */

.front-page #right{
  width: 250px;
  margin: 0px 5px 0px 0px;
}
#block-views-portal_friendship_block UL{
  margin: 0px;
  padding: 0px;
}
#block-views-portal_friendship_block UL LI{
  font-size: 10px;
  margin: 0px 5px 5px 0px;
  padding: 0px 5px 0px 0px;
  border-right: 1px solid #CCCCCC;
  list-style: none;
  float: left;
  display: block;
}
.front-page .side-menu .view-content H2{
  background: none;
}
.front-page .side-menu .view-content .submitted{
  display: none;
}
.front-page .side-menu .block-custom_pages .promotion-block{
  text-align: center;
}
.front-page .side-menu .block-custom_pages .promotion-block IMG{
  max-width: 220px;
}
#block-views-poll_view #poll-cancel-form{
  display: none;
}
#block-views-poll_view .content{
  padding-top: 0px;
  padding-bottom: 0px;
}
#block-views-poll_view .content .content{
  padding: 0px;
}
#block-views-poll_view .content .content .poll .form-radios{
  margin:0px;
}
#block-views-poll_view .content .content .poll .form-radios LABEL.option,
#block-views-poll_view .content .content .poll .text,
#block-views-poll_view .content .content .poll .percent,
#block-views-poll_view .content .content .poll .total,
#block-views-poll_view .content .comment_forbidden{
  font-size: 10px;
}
#block-views-poll_view .content .content .poll .form-radios INPUT.form-radio{
  vertical-align: bottom;
}
/* EOF: home page sidebae menus */

/* BOF: styling of promotion block */
#block-custom_pages-5{
  background: none;
}
#block-custom_pages-5 H2{
  display: none;
}
#block-custom_pages-5 .content{
  border: 1px solid #CCCCCC;
}
#block-custom-2{
	
}
#block-custom-2 H2{
	display: none;
}
#block-custom-2 .content{
	padding: 0px;
	border: 0px;
}
/* EOF: styling of promotion block */

/* BOF: STYLING BANNER BLOCK */
#block-views-banner_block,
#block-views-banner_block2,
#block-views-banner_block2_2{
  background: none;
}
#block-views-banner_block .content,
#block-views-banner_block2 .content,
#block-views-banner_block2_2 .content{
  text-align: center;
  border: 0px;
  padding: 0px;
  margin: 0px;
}
/* BOF: STYLING BANNER BLOCK */

/* ------------ EOF: HOME PAGE ------------ */

/* BOF: TEASER NEWS */
.teaser-node-news{
  position: relative;
  border-bottom: 1px solid #636363;
  margin-bottom: 15px;
  padding-bottom: 5px;
}
.teaser-node-news .news-image,
.teaser-node-news .news-body{
  float: left;
}
.teaser-node-news .news-image{
  margin: 0px 10px 0px 0px;
  width: 100px;
  text-align: center;
}
.teaser-node-news .news-body{
  width: 360px;
}
.teaser-node-news .news-body H3{
  margin: 0px 0px 5px 0px;
  padding: 0px;
}
.teaser-node-news .news-footer{
  text-align: right;
  font-size: 10px;
  color: #888888;
  margin-top: 15px;
}
/* EOF: TEASER NEWS */


/* BOF: TEASER2 NEWS */
.teaser-node-news2{
  position: relative;
  border-bottom: 1px solid #BFBFBF;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.teaser-node-news2 .news-image,
.teaser-node-news2 .news-body{
  float: left;
}
.teaser-node-news2 .news-image{
  margin: 0px 10px 0px 0px;
  width: 100px;
  text-align: center;
}
.teaser-node-news2 .news-body{
}
.teaser-node-news2 .news-body H3{
  margin: 0px 0px 5px 0px;
  padding: 0px;
}
.teaser-node-news2 .news-footer{
  text-align: left;
  font-size: 10px;
  color: #888888;
}
/* EOF: TEASER2 NEWS */


/* BOF: COMMENTS FROM */
#comments{
  width: 500px;
  overflow: hidden; 
}
#comments .comment{
  border-bottom: 2px solid #B9141A;
  margin: 0px 10px 10px 0px;
  padding: 0px 0px 5px 0px;
  overflow: hidden;
}

#comments .comment .left-part,
#comments .comment .right-part{
  float: none;
  margin: 10px 0 10px 0;
}
/*#comments .comment .left-part{
  width: 130px;
}*/
#comments .comment .right-part{
  overflow: auto;
  width: auto;
  margin:0px;
}
#comments .comment .comment-author{
  font-weight: bold;
  color: #B9141A;
}

.comment_user_picture{
  width: 50px;
  overflow: hidden;
  float: left;
  margin-right: 10px;
} 
#comments .comment .comment-date{
  font-size: 10px;
  font-weight: bold;
}

#comments .comment .comment-link{
  float: left;
  width: 400px;
  margin: 10px 0 0px 0;
}
/* EOF: COMMENTS FROM */

#content .view-content-trainers TABLE TD IMG.imagefield-field_trainer_photo{
  width: 110px;
  height: 140px;
}
#content .view-content-players TABLE TD IMG.imagefield-field_player_photo{
  width: 110px;
  height: 140px;
}
#content .gallery-listing .item-list{
  
}
#content .gallery-listing .item-list LI{
  float: left;
  width: 220px;
  height: 190px;
  list-style: none;
  text-align: center;
}
/* ====================================== EOF: MAIN PART ====================================== */







/* bof: content borders*/
#container1.border-l{
  background: #FFF url(../img/content-border.png) repeat-y left 0 ;
  padding: 0px 0px 0px 4px;
}
#container1 .border-r{
  background: url(../img/content-border.png) repeat-y right 0;
  padding: 0px 4px 0px 0px;
}
/* eof: content borders*/

/* BOF: BOTTOM CAP */
#bottom-cap{
  background: url(../img/caps.png) repeat-x 0px -54px;
  height: 18px;
  position: relative;
}
#bottom-cap .border-l{
  width: 18px;
  height: 18px;
  background: url(../img/caps.png) no-repeat 0px -18px;
  position: absolute;
  left: 0px;
}
#bottom-cap .border-r{
  width: 18px;
  height: 18px;
  background: url(../img/caps.png) no-repeat -18px -18px;
  position: absolute;
  right: 0px;
}
/* EOF: BOTTOM CAP */
.hr1{
  background: url(../img/hr1.gif) repeat-x;
  height: 7px;
  line-height: 7px;
  font-size: 1px;
}

.cf{
  clear: both;
  font-size: 1px;
  line-height: 1px;
  height: 1px;
}

.block ul {
    margin: 0;
    padding: 0 0 0.25em 1em;
}

.views-exposed-form .views-exposed-widget .form-submit {margin-top: -2px;}

.banner_wrapper{
  text-align: center;
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
}

.center-align {
  text-align: center;
}

.block-margin {
  margin-bottom: 10px;
}

.important-news-wrapper{
  padding: 0px;
  background: url(../img/block-header3.gif) no-repeat;
  margin-bottom: 10px;
}
.important-news-wrapper H2, .important-news-wrapper H2 a{
  font-family: Tahoma;
  margin: 0px;
  background: url(../img/block-header3.gif) no-repeat right -26px;
  color: #FFFFFF;
  text-align: center;
  padding: 5px 0px 0px 0px;
  text-transform: uppercase;
  text-decoration: none;
}

.squad-player {
  /*margin-bottom: 6px;
  margin: 10px 10px 6px 10px;*/
}
.squad-player div{
  padding: 3px 3px 3px 6px;
}
.squad-player-odd{
  background-color: #FFF;
}
.squad-player-even{
  background-color: #F5F5F5;
}

.next-prev-wrapper{
 /* display: inline;
  width: 25px;*/
}

.view-display-id-first_squad .view-content, .view-display-id-trainers .view-content{
  /*text-align: center;*/
  width: 100%;
}

.view-display-id-first_squad table, .view-display-id-trainers table{
  /*width: 600px !important;*/
 /* border: 1px solid;*/
}

.view-display-id-first_squad td{
  /*border: 1px solid #CCCCCC;
  border-left: 5px solid #CCCCCC;*/  
  padding-bottom: 10px;
  width: 25%;
}
.view-display-id-trainers td{
  padding-bottom: 10px;
  width: 33%;
}


.squad-player-wrapper{
  width: 95%;
  height: 70px;
  background-color: #F2F2F2;
  border: 1px solid #CCCCCC;
  border-left: 5px solid #CCCCCC;
  vertical-align: middle;
  border-collapse: collapse;
  display: block;
  position: relative;
}

.squad-player-wrapper a:hover{ text-decoration: none; }

.squad-player-wrapper:hover{
  border: 1px solid #AA0000;
  border-left: 5px solid #AA0000;
  background-color: #F2F2F2;
}

.squad-player-number{
  width: 40px;
  height: 68px;
  float: left;
  color: white !important;
  margin:1px;
  background-color: #AA0000;
}

.squad-player-number div {
  margin-top: 25px;
  color: white !important;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.squad-player-number a {
  color: #FFF;
}

.squad-player-name-holder {
   float: left;
   height: 48px;
   width: 100%;
   position: absolute;
   text-align: left;
   padding-top:20px; 
   vertical-align: middle;
   /*padding-left: 150px;*/
   left: 0px;
}

.squad-player-first-name  {
  color: #000 !important;
  font-size: 11px; 
  margin-left: 110px;
}
.squad-trainer-first-name  {
  margin-left: 70px;
}

.squad-player-last-name {
  color: #AA0000 !important;
  font-size: 13px;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 110px;
}

.squad-trainer-last-name  {
  margin-left: 70px;
}

.view-display-id-first_squad h3, .view-display-id-trainers h3{

  background-color: #F2F2F2;
  font-size: 14px;
  border: 1px solid #CCCCCC;
  padding: 5px;
  text-align: center;

}

.view-display-id-first_squad .views-view-grid, .view-display-id-trainers .views-view-grid{
margin-bottom: 30px;
}

.view-display-id-calendar table td {
  padding: 2px;
}

.tournament-table{
  border: 1px solid #ECECEC;    
}

.tournament-table tr.even, .tournament-table-short tr.even{
  background-color: #FFF;    
}
.tournament-table tr.odd, .tournament-table-short tr.odd{
  background-color: #F5F5F5;    
}

.tournament-table th{
  padding: 5px;
  border: 1px solid #ECECEC;
  border-collapse: collapse;
  text-align: center;
}

.tournament-table td{
  padding: 2px;
  padding-left: 5px;
  border: 1px solid #ECECEC;
  border-collapse: collapse;
  width: 50px;
  text-align:center;
}

.tournament-table td a{
  text-decoration: underline;
}
.tournament-table td a:hover{
  text-decoration: none;
}

.block-tournament-table .content{
  padding: 0px !important;
  font-size: 10px;
}

.tournament-table-short td{
  border-top: 1px solid #ECECEC; 
  border-bottom: 1px solid #ECECEC; 
  border-collapse: collapse;
  text-align: center;
}

.tournament-table-short-head {
  border-bottom: 2px solid #A3A3A3;
}
.tournament-table-short-head td{
  font-weight: bold;
  text-align: center;
}

.tournament-table-short-link-wrapper{
  padding:3px;
}

.tournament-table-arsenal-row{
  background-color: #B9141A !important;
  color: #FFF;
  
}
.tournament-table-arsenal-row td a{
  color: #FFF;
  text-decoration: underline;
}
.tournament-table-arsenal-row td a:hover{
  text-decoration: none;
  color: #FFF;
}

.login-links-wrapper{
  color: #FFF;
  padding-top: 15px;
  padding-right: 15px;
}

.login-links-wrapper a, .login-links-wrapper a:visited{
  color: #FFF;
  text-decoration: underline;
}

.login-links-wrapper a:hover{
  color: #FFF;
  text-decoration: none;
}


