/* http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


BODY {
	background: #202227;
	font-family: Arial;
	font-size: 13px;
	color: #353535;
}
A {
	color: #353535;
	text-decoration: none;
}
A:hover {
	color: #cb0000;
	text-decoration: underline;
}
h1, h2, h3 {
	font-weight: normal;
}
FIELDSET {
	border: 1px solid #CCC;
}
TABLE {
	width: 100%;
}


/* ====================================== BOF: GLOBAL ====================================== */

.button,
.form-submit {
	background: #e41515;
	background: -webkit-linear-gradient(top, #e41515, #8f0606);
	background: -moz-linear-gradient(top, #e41515, #8f0606);
	background: -ms-linear-gradient(top, #e41515, #8f0606);
	background: -o-linear-gradient(top, #e41515, #8f0606);
	background: linear-gradient(top, #e41515, #8f0606);
	border: 1px solid #b01212;
	border-radius: 3px;
	color: #fff!important;
	display: inline-block;
	line-height: 22px;
	padding: 0 12px;
}
.button {
	height: 22px;
}
.button:hover,
.form-submit:hover {
	background: #e20000;
	background: -webkit-linear-gradient(top, #e20000, #b60000);
	background: -moz-linear-gradient(top, #e20000, #b60000);
	background: -ms-linear-gradient(top, #e20000, #b60000);
	background: -o-linear-gradient(top, #e20000, #b60000);
	background: linear-gradient(top, #e20000, #b60000);
	border: 1px solid #ce1c1c;
	border-radius: 3px;
}
.button:hover {
	color: #fff;
	text-decoration: none;
}
.form-submit {
	cursor: pointer;
	height: 24px;
}


.cf {
	clear: both;
	font-size: 1px;
	line-height: 1px;
	height: 1px;
}


.date,
.qrss-date {
	color: #7b7b7b;
	font-size: 10px;
}


.fc-content-view {
	float: right;
	margin: 0 0 1em;
}
.fc-content-view h2,
.fc-content-view .fc-content {
	float: left;
}
.fc-content-view .views-exposed-widgets {
	margin: 0;
}
.fc-content-view .views-exposed-widget {
	padding: 0 0 0 5px;
}


.item-list ul,
.item-list ul li {
	margin: 0;
}


.media-image {
}


.pager {
	border-top: 1px solid #e3e3e3;
	padding: 20px 0 0 0!important;
}
.pager li,
.pager li a {
	height: 17px;
	line-height: 17px;
	min-width: 17px;
	text-align: center;
}
.pager li {
	background: none!important;
	display: inline-block!important;
	margin: 0 3px!important;
	padding: 0!important;
}
.pager li a {
	display: inline-block;
	vertical-align: top;
}

.pager .pager-current {
	background: #df0000!important;
	border-radius: 2px;
	color: #fff;
}

.pager .pager-first a,
.pager .pager-previous a,
.pager .pager-next a,
.pager .pager-last a {
	background: url(../img/pager_nav_bg.png) no-repeat;
	height: 17px;
	overflow: hidden;
	text-indent: -100em;
	width: 17px;
}
.pager .pager-first a {
	background-position: left bottom;
}
.pager .pager-previous a {
	background-position: left top;
}
.pager .pager-next a {
	background-position: right top;
}
.pager .pager-last a {
	background-position: right bottom;
}


.sticky-table {
	margin: 0 0 1em;
}
.sticky-table caption {
	background: #d70000;
	background: -webkit-linear-gradient(top, #d70000, #820000);
	background: -moz-linear-gradient(top, #d70000, #820000);
	background: -ms-linear-gradient(top, #d70000, #820000);
	background: -o-linear-gradient(top, #d70000, #820000);
	background: linear-gradient(top, #d70000, #820000);
	color: #ffffff;
	font-size: 15px;
	font-weight: normal;
	line-height: 1em;
	margin: 0;
	padding: 8px 0 8px 20px;
}
.sticky-table tr {
  background: none;    
}
.sticky-table tr:hover td {
	background: #f6f6f6;
}
.sticky-table th,
.sticky-table td {
	border: 1px solid #e3e3e3;
	text-align: center; 
}
.sticky-table th {
	background: #e3e3e3;
	background: -webkit-linear-gradient(top, #fff, #e3e3e3);
	background: -moz-linear-gradient(top, #fff, #e3e3e3);
	background: -ms-linear-gradient(top, #fff, #e3e3e3);
	background: -o-linear-gradient(top, #fff, #e3e3e3);
	background: linear-gradient(top, #fff, #e3e3e3);
	padding: 6px;
}
.sticky-table td {
	padding: 2px 6px;
	width: 80px;
}
.sticky-table td a {
	color: #353535;
	text-decoration: none;
}
.sticky-table td a:hover {
	color: #cb0000;
	text-decoration: underline;
}

.sticky-table .team_name {
	text-align: left;
	width: auto;
}


.teaser-node-news {
	background: #f1f1f1;
	background: -webkit-linear-gradient(top, #f1f1f1, #fff);
	background: -moz-linear-gradient(top, #f1f1f1, #fff);
	background: -ms-linear-gradient(top, #f1f1f1, #fff);
	background: -o-linear-gradient(top, #f1f1f1, #fff);
	background: linear-gradient(top, #f1f1f1, #fff);
	padding: 10px 20px;
}
.teaser-node-news .news-body H3,
.teaser-node-news .news-body H3 A {
	color: #cb0000;
}
.teaser-node-news .news-body H3 {
	font-size: 17px;
	font-weight: bold;
	margin: 0 0 6px;
}
.teaser-node-news .news-footer {
	font-size: 10px;
	color: #7b7b7b;
	margin: 6px 0 0;
}

/* ====================================== EOF: GLOBAL ====================================== */


.main-bg {
	background: url(../img/main_bg.jpg) no-repeat center top;
	min-width: 1000px;
}


#container {
	margin: 0 auto;
	width: 1000px;
}


/* ====================================== BOF: HEADER ====================================== */

#header {
	position: relative;
	height: 163px;
}
#header .block-margin {
	margin: 0;
}
#header .logo {
	position: absolute;
	top: 47px;
	left: 0;
}


.region-header {
	background: #d60000;
	background: -webkit-linear-gradient(top, #d60000, #820000);
	background: -moz-linear-gradient(top, #d60000, #820000);
	background: -ms-linear-gradient(top, #d60000, #820000);
	background: -o-linear-gradient(top, #d60000, #820000);
	background: linear-gradient(top, #d60000, #820000);
	border-radius: 0 0 3px 3px;
	color: #fff;	
	padding: 0 0 0 20px;
}
.region-header:after {
	content: ".";
	display: block;
	height: 0pt;
	clear: both;
	visibility: hidden;
}


#block-customization-historical-fact {
	float: left;
}
#block-customization-historical-fact a {
	color: #fff;
	text-decoration: none;
}
#block-customization-historical-fact .content {
	height: 36px;
	line-height: 36px;
}


#block-customization-customization-login-block {
	background: url(../img/header_block_bg.png) no-repeat right -72px;
	float: right;
	padding: 0 10px 0 0;
}
#block-customization-customization-login-block .content {
	background: url(../img/header_block_bg.png) repeat-x left -36px;
	height: 36px;
}
#block-customization-customization-login-block ul {
	padding: 10px 0 0 0;
}
#block-customization-customization-login-block li {
	float: left;
}
#block-customization-customization-login-block a {
	color: #fff;
	margin: 0 10px;
}


#block-custom-social-share-social-share-links {
	background: url(../img/header_block_bg.png) no-repeat left top;
	float: right;
	padding: 0 0 0 30px;
}
#block-custom-social-share-social-share-links .content {
	background: url(../img/header_block_bg.png) repeat-x left -36px;
	height: 36px;
}
#block-custom-social-share-social-share-links li {
	float: left;
	padding: 7px 8px 0 0;
}
#block-custom-social-share-social-share-links li a {
	background-image: url(../img/socials.png);
	background-repeat: no-repeat;
	display: block;
	height: 20px;
	width: 20px;
}
#block-custom-social-share-social-share-links li img {
	display: none;
}

#block-custom-social-share-social-share-links .header-mail-link a {
	background-position: left 0px;
}

#block-custom-social-share-social-share-links .header-fb-link a {
	background-position: left -20px;
}

#block-custom-social-share-social-share-links .header-vk-link a {
	background-position: left -40px;
}

#block-custom-social-share-social-share-links .header-twitter-link a {
	background-position: left -60px;
}

/* ====================================== EOF: HEADER ====================================== */

.wrapper {
	box-shadow: 0 10px 10px #000;
}

/* ====================================== BOF: SUB-HEADER ====================================== */

#sub-header {
	background: #e3e3e3;
	border-bottom: 1px solid #c8c8c8;
	position: relative;
}


ul.nice-menu,
ul.nice-menu ul {
	z-index: 5;
	position: relative;
}
ul.nice-menu:after {
	content: ".";
	display: block;
	height: 0pt;
	clear: both;
	visibility: hidden;
}
ul.nice-menu li {
	position: relative;
}
ul.nice-menu a {
	display: block;
}
ul.nice-menu ul {
	position: absolute;
	display: none;
}
ul.nice-menu ul li {
	display: block;
}
ul.nice-menu li:hover ul,
ul.nice-menu li.menuparent li:hover ul,
ul.nice-menu li.menuparent li.menuparent li:hover ul,
ul.nice-menu li.menuparent li.menuparent li.menuparent li:hover ul,
ul.nice-menu li.over ul,
ul.nice-menu li.menuparent li.over ul,
ul.nice-menu li.menuparent li.menuparent li.over ul,
ul.nice-menu li.menuparent li.menuparent li.menuparent li.over ul {
	display: block;
}
ul.nice-menu li.menuparent ul {
	overflow: visible;
}


/* ::::: http://www.fc-arsenal.com/sites/all/modules/nice_menus/nice_menus_default.css ::::: */
ul.nice-menu,
ul.nice-menu ul {
	border: none;
}
ul.nice-menu li {
	border: 0 none;
	float: left;
	margin: 0;
	padding: 0;
	background: none;
}
ul.nice-menu a {
	padding: 0;
}
ul.nice-menu ul {
	top: 30px;
	left: 0px;
	margin: 0;
}
ul.nice-menu ul li {
	width: auto;
}
ul.nice-menu-down {
	float: none;
	border: 0 none;
	width: auto;
}
ul.nice-menu-down li,
ul.nice-menu-down li li {
	border: 0 none;
}
ul.nice-menu-down ul {
	left: 0;
}
ul.nice-menu-down ul li {
	float: none;
}
ul.nice-menu-down .menuparent a {
	padding: 0;
	cursor: pointer;
}
ul.nice-menu-down li.menuparent {
	background: none;
}
ul.nice-menu-down li.menuparent:hover,
ul.nice-menu-down li.over {
	background: none;
}


#main_menu {
	background: #4a4e5a;
	background: -webkit-linear-gradient(top, #4a4e5a, #000);
	background: -moz-linear-gradient(top, #4a4e5a, #000);
	background: -ms-linear-gradient(top, #4a4e5a, #000);
	background: -o-linear-gradient(top, #4a4e5a, #000);
	background: linear-gradient(top, #4a4e5a, #000);
	border: 1px solid #9098b0;
	border-bottom: 0 none;
	height: 35px;
	padding: 5px 0 0 0;
}
#main_menu UL LI {
	display: block;
	font-size: 14px;
	height: 33px;
	margin: 0 0 0 12px;
	padding: 2px 0 0 0;
}
#main_menu UL LI.first {
	margin: 0 0 0 4px;
}
#main_menu .nice-menu-down > li:hover {
	background: #a61315;
	border-top: 2px solid rgba(255,255,255, .85);
	border-radius: 3px;
	padding: 0;
	height: auto;
}
#main_menu .nice-menu-down > li:hover a {
	padding-bottom: 6px;
}
#main_menu .nice-menu-down > .menuparent:hover,
#main_menu .nice-menu-down > .menuparent.active-trail:hover {
	background: #a61315;
	border-top: 2px solid rgba(255,255,255, .85);
	border-radius: 3px 3px 0 0;
	padding: 0;
	height: 33px;
}
#main_menu .nice-menu-down > .menuparent.active-trail:hover > a {
	color: #fff;
}
#main_menu .nice-menu-down > .active-trail,
#main_menu .nice-menu-down > .active-trail:hover,
.front #main_menu .nice-menu-down > .first {
	background: #e3e3e3;
	background: -webkit-linear-gradient(top, #9d9d9d, #e3e3e3);
	background: -moz-linear-gradient(top, #9d9d9d, #e3e3e3);
	background: -ms-linear-gradient(top, #9d9d9d, #e3e3e3);
	background: -o-linear-gradient(top, #9d9d9d, #e3e3e3);
	background: linear-gradient(top, #9d9d9d, #e3e3e3);
	border-top: 2px solid rgba(255,255,255, .85);
	border-radius: 3px 3px 0 0;
	height: 33px;
	padding: 0;
}
#main_menu .nice-menu-down > .active-trail > a,
.front #main_menu .nice-menu-down > .first > a {
	color: #000;
}
#main_menu UL LI A {
	color: #fff;
	padding: 4px 18px 8px 18px;
}
#main_menu UL LI A:hover {
	color: #fff;
	text-decoration: none;
}
#main_menu UL LI A.menu-item-none {
	cursor: pointer;
}
#main_menu UL UL {
	background: #a61315;
	border-radius: 0 3px 3px 3px;
	padding: 3px 0;
}
#main_menu UL UL LI {
	background: none;
	border-top: 1px solid #ba171a;
	border-bottom: 1px solid #8b0d0f;
	font-size: 13px;
	height: auto;
	margin: 0;
	padding: 0;
	white-space: nowrap;
}
#main_menu UL UL LI.first {
	border-top: none;
	margin: 0;
}
#main_menu UL UL LI.last {
	border-bottom: none;
}
#main_menu UL UL LI A {
	padding: 4px 20px;
}
#main_menu UL UL LI A:hover {
	background: #8b0d0f;
	background: -webkit-linear-gradient(top, #ba171a, #8b0d0f);
	background: -moz-linear-gradient(top, #ba171a, #8b0d0f);
	background: -ms-linear-gradient(top, #ba171a, #8b0d0f);
	background: -o-linear-gradient(top, #ba171a, #8b0d0f);
	background: linear-gradient(top, #ba171a, #8b0d0f);
	text-decoration: none;
}
#main_menu UL UL UL {
	top: -3px;
	left: 100%;
}


#block-search-form {
	margin: 0;
	padding: 7px 20px 7px 0;
}
#block-search-form:after {
	content: ".";
	display: block;
	height: 0pt;
	clear: both;
	visibility: hidden;
}
#block-search-form form {
	float: right;
	position: relative;
	z-index: 2;
}
#block-search-form .form-item,
#block-search-form .form-actions {
	margin: 0;
}
#block-search-form .form-text {
	border: 1px solid #a5a5a5;
	border-radius: 2px;
	height: 22px;
	padding: 0 0 0 8px;
	vertical-align: top;
	width: 180px;
}


.breadcrumb-links {
	margin: -28px 0 0 0;
	padding: 0 300px 10px 25px;
	position: relative;
	z-index: 1;
}

.breadcrumb-links .breadcrumb-front {
	background: url(../img/marker_1.gif) no-repeat left 4px;
	margin: 0 0 0 -10px;
	padding: 0 0 0 15px;
}

.breadcrumb-links .breadcrumb {
	color: #cb0000;
	padding: 0;
}
.breadcrumb-links .breadcrumb .separator {
	background: url(../img/marker_1.gif) no-repeat left top;
	display: inline-block;
	height: 7px;
	margin: 0 7px;
	vertical-align: middle;
	width: 8px;
}

/* ====================================== EOF: SUB-HEADER ====================================== */


/* ====================================== BOF: MAIN PART ====================================== */

#main-part {
	background: #e3e3e3;
	border-top: 1px solid #fff;
	padding: 5px;
}


.main-wrapper {
	overflow: hidden;
}


#left,
#right {
	float: left;
	width: 240px;
}

#left {
	padding: 0 5px 0 0;
}

#right {
	padding: 0 0 0 5px;
}


#content {
	background: #fff;
	/*margin: 0 0 -9980px 0;*/
	min-height: 488px;
	overflow: hidden;
	/*padding: 20px 20px 10000px 20px;*/
	padding: 20px;
	position: relative;
}
#content h1 {
	color: #000;
	border-bottom: 1px solid #e3e3e3;
	font-size: 26px;
	margin: 0 0 18px;
	padding: 0 0 8px;
}


.region-content h2 {
	color: #353535;
	font-size: 21px;
	line-height: 1;
	margin: 0 0 18px;
}
.region-content h3 {
	color: #353535;
	font-size: 17px;
	margin: 0 0 4px;
}
.region-content p,
.region-content ol,
.region-content ul {
	margin: 0 0 1em;
}
.region-content p:last-child,
.region-content ol:last-child,
.region-content ul:last-child {
	margin: 0;
}
.region-content a {
	color: #cb0000;
}
.region-content ul li {
	background: url(../img/marker_2.gif) no-repeat left 5px;
	list-style: none;
	padding: 0 0 0 1em;
}


.side-menu .block {
	background: #fff;
	margin: 0 0 5px;
}
.side-menu .block:last-child {
	margin: 0;
}
.side-menu .block H2 {
	background: #d70000;
	background: -webkit-linear-gradient(top, #d70000, #820000);
	background: -moz-linear-gradient(top, #d70000, #820000);
	background: -ms-linear-gradient(top, #d70000, #820000);
	background: -o-linear-gradient(top, #d70000, #820000);
	background: linear-gradient(top, #d70000, #820000);
	color: #ffffff;
	font-size: 15px;
	line-height: 1;
	padding: 8px 0 8px 20px;
}
.side-menu .block ul {
	margin: 0;
	padding: 0;
}
.side-menu .block .content {
	padding: 15px 20px;
}
.side-menu .block h5 {
	font-weight: normal;
}
.side-menu .block .more-link {
	border-top: 1px solid #e3e3e3;
	margin: -5px 20px 0;
	padding: 10px 0;
	text-align: left;
}

.side-menu .links {
	border: 1px solid #fff;
}
.side-menu .links li {
	background: #cccccc;
	background: -webkit-linear-gradient(top, #ececec, #cccccc);
	background: -moz-linear-gradient(top, #ececec, #cccccc);
	background: -ms-linear-gradient(top, #ececec, #cccccc);
	background: -o-linear-gradient(top, #ececec, #cccccc);
	background: linear-gradient(top, #ececec, #cccccc);
	border-top: 1px solid #fff;
	font-size: 14px;
	line-height: 1em;
}
.side-menu .links li:first-child {
	border-top: 0 none;
}
.side-menu .links a {
	background: url(../img/marker_3.gif) no-repeat 8px 10px;
	display: block;
	padding: 8px 0 8px 24px;
}
.side-menu .links a:hover {
	text-decoration: none;	
}
.side-menu .links li.active {
	background: #fff;
	font-weight: bold;
	margin: 0 -6px 0 0;
	position: relative;
}
.side-menu .links li.active a {
	background-image: url(../img/marker_4.gif);
}


.all-news {
	background: #f4f4f4;
	background: -webkit-linear-gradient(top, #f4f4f4, #dbdbdb);
	background: -moz-linear-gradient(top, #f4f4f4, #dbdbdb);
	background: -ms-linear-gradient(top, #f4f4f4, #dbdbdb);
	background: -o-linear-gradient(top, #f4f4f4, #dbdbdb);
	background: linear-gradient(top, #f4f4f4, #dbdbdb);
	border: 1px solid #fff;
	border-top: none;
	margin: 5px 0 0;
	padding: 8px 0 8px 20px;
}

/* ====================================== EOF: MAIN PART ====================================== */


/* ====================================== BOF: FOOTER ====================================== */

#footer {
	color: #fff;
	padding: 0 0 50px 0;
	text-align: center;
	font-size: 11px;
}


#pre-footer {
	background: #30333b;
	background: -webkit-linear-gradient(top, #30333b, #101113);
	background: -moz-linear-gradient(top, #30333b, #101113);
	background: -ms-linear-gradient(top, #30333b, #101113);
	background: -o-linear-gradient(top, #30333b, #101113);
	background: linear-gradient(top, #30333b, #101113);
	overflow: hidden;
	padding: 0 0 0 244px;
	position: relative;
	text-align: left;
}
#pre-footer h3 {
	color: #fff;
	font-size: 15px;
	margin: 0 0 10px 0;
}
#pre-footer ul {
	padding: 0;
}
#pre-footer ul li {
	background: url(../img/marker_2.gif) no-repeat left 4px;
	margin: 0 0 6px 0;
	padding: 0 0 0 10px;
}
#pre-footer ul a {
	color: #a3a7b2;
}
#pre-footer .col {
	background: url(../img/pre_footer_separator.png) repeat-y left top;
	float: left;
	margin: 0 0 -1000px;
	padding: 0 0 1000px;
	width: 252px;
}

#pre-footer .footer-logo {
	height: 54px;
	margin: -27px 0 0 0;
	position: absolute;
	top: 50%;
	left: 30px;
}

#pre-footer .view-content {
	padding: 28px 20px;
}


#footer #block-block-3 {
	border-bottom: 2px solid #393c43;
	padding: 26px 130px;
}
#footer #block-block-3 a {
	color: #fff;
	text-decoration: underline;
}


#footer .banner-links {
	padding: 5px 0px;
}
#footer .banner-links a {
	color: #fff;
}


#footer .partners {
	color: #fff;
	padding: 14px 0;
}
#footer .partners a {
	color: #fff;
	text-decoration: underline;
}


#footer .counter {
	padding: 14px 0;
}

/* ====================================== EOF: FOOTER ====================================== */



/* ====================================== BOF: PAGES ====================================== */

/* BOF: FRONT PAGE */

.front-page #content {
	background: none;
	float: left;
	padding-top: 0;
	padding-right: 0;
	padding-left: 0;
	width: 500px;
}


#block-views-matches-next-match {
	text-align: center;
}
#block-views-matches-next-match h2 {
	height: 30px;
	line-height: 30px;
	padding: 0;
	position: relative;
}
#block-views-matches-next-match h2 #prev-match-link,
#block-views-matches-next-match h2 #next-match-link {
	background: url(../img/prev_next_bg.png) no-repeat;
	display: block;
	height: 25px;
	position: absolute;
	top: 3px;
	width: 25px;
}
#block-views-matches-next-match h2 #prev-match-link,
#block-views-matches-next-match h2 #next-match-link {
	text-decoration: none;
}
#block-views-matches-next-match h2 #prev-match-link {
	background-position: left top;
	left: 3px;
}
#block-views-matches-next-match h2 #next-match-link {
	background-position: right bottom;
	right: 3px;
}

#block-views-matches-next-match .view-id-matches {
	background: url(../img/block_matches_bg.jpg) no-repeat left top;
}

#block-views-matches-next-match .team-block {
	font-weight: bold;
	height: 93px;
	line-height: 1em;
	padding: 12px 0 0;
}
#block-views-matches-next-match .team-block .team,
#block-views-matches-next-match .team-block .vs {
	display: inline-block;
	vertical-align: top;
}
#block-views-matches-next-match .team-block .team {
	width: 88px;
}
#block-views-matches-next-match .team-block .team-emblem {
	background: url(../img/team_emblem_bg.png) no-repeat left top;
	height: 58px;
	margin: 0 8px 6px;
	padding: 10px 4px 4px 4px;
	text-align: center;
	width: 64px;
}
#block-views-matches-next-match .team-block .team-emblem .field-content {
	overflow: hidden;
	width: 64px;
}
#block-views-matches-next-match .team-block .vs {
	padding: 30px 0 0;
}

#block-views-matches-next-match .score {
	height: 20px;
	line-height: 20px;
}

#block-views-matches-next-match .tournament-type {
	font-weight: bold;
	height: 24px;
	line-height: 24px;
}

#block-views-matches-next-match .match-date {
	height: 25px;
	line-height: 25px;
}

#block-views-matches-next-match .match-links {
	background: #3e424e;
	background: -webkit-linear-gradient(top, #3e424e, #010101);
	background: -moz-linear-gradient(top, #3e424e, #010101);
	background: -ms-linear-gradient(top, #3e424e, #010101);
	background: -o-linear-gradient(top, #3e424e, #010101);
	background: linear-gradient(top, #3e424e, #010101);
	height: 38px;
	padding: 3px 0 0;
}
#block-views-matches-next-match .match-links a,
#block-views-matches-next-match .match-links a span {
	background-image: url(../img/match_links_bg.jpg);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: top;
}
#block-views-matches-next-match .match-links a {
	background-position: left top;
	color: #fff;
	margin: 0 2px;
	padding: 0 0 0 9px
}
#block-views-matches-next-match .match-links a span {
	background-position: right top;
	height: 27px;
	padding: 8px 9px 0 0;
}
#block-views-matches-next-match .match-links a:hover {
	text-decoration: none;
}
#block-views-matches-next-match .match-links .Online {
	width: 78px;
}
#block-views-matches-next-match .match-links .Online span {
	height: 31px;
	line-height: 1em;
	padding-top: 4px;
}


#block-custom-news-apl-news .view-item-qrss-view UL LI {
	margin: 0 0 15px 0;
	padding: 0 0 14px;
	position: relative;
}
#block-custom-news-apl-news .view-item-qrss-view UL LI:last-child {
	margin: 0;
}
#block-custom-news-apl-news .view-item-qrss-view .qrss-date {
	bottom: 0;
	position: absolute;
}


#block-block-5 {
	margin: 0 0 5px;
	text-align: center;
}
#block-block-5 {
	vertical-align: top;
}


.TournamentTable th,
.TournamentTable td {
	border-bottom: 1px solid #e3e3e3;
	padding: 4px;
	text-align: center;
	vertical-align: middle;
}
.TournamentTable th:last-child,
.TournamentTable td:last-child {
	background: #f2f2f2;
}
.TournamentTable th.LargeCell {
	font-size: 10px;
	text-align: left;
}
.TournamentTable td.team_name {
	text-align: left;
}
.TournamentTable .LargeCell {
	width: auto;
}
.TournamentTable .arsenal-row td {
	background: #40444e;
	background: -webkit-linear-gradient(top, #40444e, #020202);
	background: -moz-linear-gradient(top, #40444e, #020202);
	background: -ms-linear-gradient(top, #40444e, #020202);
	background: -o-linear-gradient(top, #40444e, #020202);
	background: linear-gradient(top, #40444e, #020202);
	border: none;
	color: #fff;
}

#block-tournament-table-tournament-table-short .more-link {
	border: 0 none;
	margin: 0;
	padding: 10px 20px;
}


#block-views-image-gallery-latest-gallery .photo,
#block-views-video-latest-video .video {
	overflow: hidden;
	margin: 0 0 14px;
	width: 100%;
}


#block-views-image-gallery-latest-gallery .photo {
	vertical-align: top;
}


#block-custom-news-important-news {
	background: #d70000;
	background: -webkit-linear-gradient(top, #d70000, #820000);
	background: -moz-linear-gradient(top, #d70000, #820000);
	background: -ms-linear-gradient(top, #d70000, #820000);
	background: -o-linear-gradient(top, #d70000, #820000);
	background: linear-gradient(top, #d70000, #820000);
	margin: 0 0 5px;
	padding: 8px 20px;
}
#block-custom-news-important-news a {
	color: #fff;
	font-size: 26px;
}


#front-page-top-news {
	margin: 0 0 5px 0;
}
#front-page-top-news .news-image img {
	max-width: 100%;
	vertical-align: top;
}
#front-page-top-news .news-content {
	background: #353740;
	background: -webkit-linear-gradient(top, #353740, #131518);
	background: -moz-linear-gradient(top, #353740, #131518);
	background: -ms-linear-gradient(top, #353740, #131518);
	background: -o-linear-gradient(top, #353740, #131518);
	background: linear-gradient(top, #353740, #131518);
	padding: 16px 20px 10px 20px;
	color: #fff;
}
#front-page-top-news .news-content H2 {
	color: #fff;
	margin: 0 0 10px 0;
	font-size: 26px;
}
#front-page-top-news .news-content H2 A {
	color: #fff;
}
#front-page-top-news .news-footer {
	font-size: 10px;
	color: #8d8d8d;
}


#latest-news-block H2 {
	background: #fff;
	color: #000;
	font-size: 26px;
	margin: 0;
	padding: 14px 0 14px 20px;
}
#latest-news-block .news-block-content .views-row {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
}
#latest-news-block .news-block-content .item-list {
	background: #fff;
	margin: 5px 0 0;
	padding: 10px 20px;
}
#latest-news-block .news-block-content .item-list ul {
	padding: 0 0 0 60px;
	position: relative;
}
#latest-news-block .news-block-content .item-list ul li {
	background: none;
	
	border-bottom: 1px dotted #000;
	margin: 0 0 8px;
	padding: 0 0 8px;
}
#latest-news-block .news-block-content .item-list a {
	color: #353535;
}
#latest-news-block .news-block-content .item-list a:hover {
	color: #CB0000;
}
#latest-news-block .news-block-content .item-list ul li:last-child {
	border-bottom: none;
	margin: 0;
	padding: 0;
}
#latest-news-block .news-block-content .item-list .time-created {
	color: #7b7b7b;
	font-size: 10px;
	margin: 1px 0 0;
	position: absolute;
	left: 0;
}


#block-views-qrss_view_inoprosport_ru {
	margin: 5px 0 0;
	padding: 10px 20px;
	background: #fff;
}
#block-views-qrss_view_inoprosport_ru .item-list LI {
	background: none;
	margin: 0 0 15px;
	padding: 0;
}
#block-views-qrss_view_inoprosport_ru .item-list LI:last-child {
	margin: 0;
}
#block-views-qrss_view_inoprosport_ru .item-list a {
	color: #353535;
}
#block-views-qrss_view_inoprosport_ru .item-list a:hover {
	color: #CB0000;
}  


#block-block-1 {
	background: #fff;
	margin: 0 0 5px;
}
#block-block-1 div {
	border: none;
}
#block-block-1 H3 {
	background: #d70000;
	background: -webkit-linear-gradient(top, #d70000, #820000);
	background: -moz-linear-gradient(top, #d70000, #820000);
	background: -ms-linear-gradient(top, #d70000, #820000);
	background: -o-linear-gradient(top, #d70000, #820000);
	background: linear-gradient(top, #d70000, #820000);
	margin: 0;
	color: #ffffff;
	padding: 8px 0 8px 20px;
	font-size: 15px;
	position: relative;
}
#block-block-1 #mgp-inner {
	padding: 15px 20px;
}
#block-block-1 .mgp-option {
	margin: 0 0 15px 0;
	padding: 0 0 14px;
	position: relative;
}
#block-block-1 .mgp-option:last-child {
	margin: 0;
}
#block-block-1 .date {
	bottom: 0;
	color: #7b7b7b;
	font-size: 10px;
	position: absolute;
}

/* EOF: FRONT PAGE */


/* BOF: CALENDAR */

.page-calendar .fc-content-view {
	font-size: 14px;
	margin: 0;
	position: absolute;
	right: 16px;
	top: 30px;
}

.view-display-id-calendar {
	line-height: 1em;
}
.view-display-id-calendar caption {
	background: #d70000;
	background: -webkit-linear-gradient(top, #d70000, #820000);
	background: -moz-linear-gradient(top, #d70000, #820000);
	background: -ms-linear-gradient(top, #d70000, #820000);
	background: -o-linear-gradient(top, #d70000, #820000);
	background: linear-gradient(top, #d70000, #820000);
	color: #ffffff;
	padding: 8px 0 8px 20px;
	font-size: 15px;
	line-height: 1em;
	text-align: left;
}
.view-display-id-calendar tr {
	background: none;
	border: 0 none;
	padding: 0;
}
.view-display-id-calendar tr:hover {
	background: #f6f6f6;
}
.view-display-id-calendar tr:hover td a,
.view-display-id-calendar a:hover {
	color: #CB0000;
	text-decoration: none;
}
.view-display-id-calendar th,
.view-display-id-calendar td {
	border: 1px solid #e3e3e3;
	text-align: left;
	vertical-align: middle;
}
.view-display-id-calendar th {
	background: #f1f1f1;
	background: -webkit-linear-gradient(top, #fff, #f1f1f1);
	background: -moz-linear-gradient(top, #fff, #f1f1f1);
	background: -ms-linear-gradient(top, #fff, #f1f1f1);
	background: -o-linear-gradient(top, #fff, #f1f1f1);
	background: linear-gradient(top, #fff, #f1f1f1);
	padding: 8px;
	white-space: nowrap;
}
.view-display-id-calendar td {
	line-height: 22px;
	padding: 0 8px;
	white-space: nowrap;
}
.view-display-id-calendar a {
	color: #353535;
}
.view-display-id-calendar a:hover {
	color: #353535;
}

.view-display-id-calendar .views-field-nid {
	padding: 0;
	text-align: center;
	width: 100%;
}

.view-display-id-calendar td.views-field-field-match-start-date {
	background: none;
	color: #7b7b7b;
	font-size: 10px;
}

.view-display-id-calendar .home_team,
.view-display-id-calendar .away_team {
	display: inline-block;
	width: 130px;
}
.view-display-id-calendar .home_team {
	text-align: right;
}
.view-display-id-calendar .away_team {
	text-align: left;
}

.view-display-id-calendar .result {
	display: inline-block;
	margin: 0 8px;
	min-width: 30px;
	padding: 0 4px;
}
.view-display-id-calendar .result_win {
	background: #7db640;
	background: -webkit-linear-gradient(top, #7db640, #457923);
	background: -moz-linear-gradient(top, #7db640, #457923);
	background: -ms-linear-gradient(top, #7db640, #457923);
	background: -o-linear-gradient(top, #7db640, #457923);
	background: linear-gradient(top, #7db640, #457923);
	color: #fff;
}
.view-display-id-calendar .result_lost {
	background: #cd0000;
	background: -webkit-linear-gradient(top, #cd0000, #a40000);
	background: -moz-linear-gradient(top, #cd0000, #a40000);
	background: -ms-linear-gradient(top, #cd0000, #a40000);
	background: -o-linear-gradient(top, #cd0000, #a40000);
	background: linear-gradient(top, #cd0000, #a40000);
	color: #fff;
}
.view-display-id-calendar .result_draw {
	background: #f4f4f4;
	color: #353535;
}

/* EOF: CALENDAR */


/* BOF: NEWS ARCHIVE */

.page-news-all .fc-content-view,
.page-news-all .fc-content-view h2,
.page-news-all .fc-content-view .fc-content {
	float: none;
}
.page-news-all .fc-content-view {
	border-bottom: 1px solid #e3e3e3;
	margin: 0 0 15px;
	padding: 0 0 15px;
}
.page-news-all .fc-content-view h2 {
	font-size: 17px;
	line-height: 1em;
	margin: 0 0 6px;
}
.page-news-all .fc-content-view .views-exposed-widget {
	padding: 0;
}

.node-news-archive .news-image {
	float: left;
	margin: 0 20px 0 0;
}

.node-news-archive .news-body {
	overflow: hidden;
}

/* EOF: NEWS ARCHIVE */


/* BOF: NEWS PAGE */

.node-type-news #content {
	background: none;
	padding: 0;
}
.node-type-news #content > h1 {
	border: none;
	padding: 0;
}


.node-news-item .left-part {
	background: #fff;
	float: left;
	padding: 20px;
	width: 460px;
}

#read-news-item .news-image {
	margin: 0 -20px 20px -20px;
	overflow: hidden;
}
#read-news-item .news-image img {
	min-width: 100%;
	vertical-align: top;
}

#read-news-item .news-body p {
	margin: 0 0 1em;
}
#read-news-item .news-body img {
	max-width: 100%;
}

#read-news-item .news-footer {
	border-top: 1px solid #e3e3e3;
	margin: 1em 0 0;
	padding: 12px 0 20px; 
}
#read-news-item .news-footer .news-date {
	padding: 4px 0 0;
}
#read-news-item .news-footer .news-date img {
	vertical-align: middle;
}


#comments {
	border-top: 5px solid #e3e3e3;
	margin: 0 -20px;
	padding: 20px 20px 0 20px;
}

#comments .comment {
	border-top: 1px dotted #353535;
	margin: 1em 0 0;
	padding: 1em 0 0;
}

#comments .user-picture {
	width: 50px;
	overflow: hidden;
	float: left;
	margin-right: 10px;
}

#comments .comment-author {
	color: #cb0000;
	font-size: 16px;
	font-weight: bold;
	line-height: 1;
}

#comments .comment-date {
	float: right;
	padding: 4px 0 0;
}

#comments .comment-body {
	margin: 0.5em 0 0;
}

#comments .comment-footer li {
	background: none;
	padding: 0;
}

#comments .pager {
	margin: 1em 0;
}


.node-news-item .right-part {
	background: #fff;
	float: right;
	width: 240px;
}


.node-news-item #latest-news-block H2 {
	background: #d70000;
	background: -webkit-linear-gradient(top, #d70000, #820000);
	background: -moz-linear-gradient(top, #d70000, #820000);
	background: -ms-linear-gradient(top, #d70000, #820000);
	background: -o-linear-gradient(top, #d70000, #820000);
	background: linear-gradient(top, #d70000, #820000);
	color: #ffffff;
	font-size: 15px;
	line-height: 1;
	padding: 8px 0 8px 20px;
}

.node-news-item #latest-news-block .views-row {
	border: none;
}

.node-news-item #latest-news-block .teaser-node-news {
	background: none;
	padding: 20px 20px 0 20px;
}

.node-news-item #latest-news-block .item-list {
	display: none;
}

.node-news-item #latest-news-block .all-news {
	border-top: 1px solid #e3e3e3;
	margin: 18px 0 0;
}

/* EOF: NEWS PAGE */


/* BOF: GUNZIN */

.gunzin {
	border-top: 1px dotted #353535;
	margin: 1.5em 0 0;
	overflow: hidden;
	padding: 1.5em 0 0;
	width: 100%;
}

.gunzin-cover {
	float: left;
	margin: 0 20px 0 0;
}

.gunzin-content {
	overflow: hidden;
}
.gunzin-content h3 {
	margin: 0 0 1em;
}


/* EOF: GUNZIN */


/* BOF: PLAYER INFO PAGE */

.player-number {
	color: #cb0000;
	font-weight: bold;
}

.player-page .player-box-info {
	float: right;
	width: 202px;
	margin: 0 0 1em 1.5em;
}

.player-page .player-box-info .photo {
	overflow: hidden;
	width: 202px;
}
.player-page .player-box-info .photo IMG {
	height: auto;
	margin: 0 -9px -10px -8px;
	vertical-align: top;
	width: 219px;
}

.player-page .player-box-info .box-content {
	background: #f1f1f1;
	border: 1px solid #e0e0e0;
	padding: 6px 10px 16px 20px;
}
.player-page .player-box-info .box-content div {
	margin: 10px 0 0;
}
.player-page .player-box-info .box-content .label {
	font-weight: bold;
}

.player-page .player-box-info .birth-place {
	margin: 0 !important;
}

.player-page .player-info p {
	margin: 0 0 1em;
}
.player-page .player-info p strong {
	font-size: 17px;
}

.player-page .season-stats {
	clear: both;
}
.player-page .season-stats h3 {
	background: #d70000;
	background: -webkit-linear-gradient(top, #d70000, #820000);
	background: -moz-linear-gradient(top, #d70000, #820000);
	background: -ms-linear-gradient(top, #d70000, #820000);
	background: -o-linear-gradient(top, #d70000, #820000);
	background: linear-gradient(top, #d70000, #820000);
	color: #ffffff;
	font-size: 15px;
	font-weight: normal;
	line-height: 1em;
	margin: 0;
	padding: 8px 0 8px 20px;
}
.player-page .season-stats thead {
	display: none;
}
.player-page .season-stats td:last-child {
	white-space: nowrap;
}

/* EOF: PLAYER INFO PAGE */


/* BOF: TOURNAMENT TABLE */

.tournament-table tr {
  background: none;    
}
.tournament-table tr:hover td {
	background: #f6f6f6;
}
.tournament-table tr:hover td:last-child {
	background: #eaeaea;
	}
.tournament-table caption {
	background: #d70000;
	background: -webkit-linear-gradient(top, #d70000, #820000);
	background: -moz-linear-gradient(top, #d70000, #820000);
	background: -ms-linear-gradient(top, #d70000, #820000);
	background: -o-linear-gradient(top, #d70000, #820000);
	background: linear-gradient(top, #d70000, #820000);
	color: #ffffff;
	padding: 8px 0 8px 20px;
	font-size: 15px;
	line-height: 1em;
	text-align: left;
}
.tournament-table th,
.tournament-table td {
	border: 1px solid #e3e3e3;
	text-align: center; 
}
.tournament-table th {
	background: #e3e3e3;
	background: -webkit-linear-gradient(top, #fff, #e3e3e3);
	background: -moz-linear-gradient(top, #fff, #e3e3e3);
	background: -ms-linear-gradient(top, #fff, #e3e3e3);
	background: -o-linear-gradient(top, #fff, #e3e3e3);
	background: linear-gradient(top, #fff, #e3e3e3);
	padding: 6px;
}
.tournament-table td {
	padding: 2px 6px;
}
.tournament-table td:last-child {
	background: #f2f2f2;
}

.tournament-table td a {
	text-decoration: underline;
}
.tournament-table td a:hover {
	text-decoration: none;
}

.tournament-table .team_name {
	padding-left: 8px;
	text-align: left;
	width: 100%;
}

.tournament-table-arsenal-row td {
	background: #020202!important;
	background: -webkit-linear-gradient(top, #484c58, #020202)!important;
	background: -moz-linear-gradient(top, #484c58, #020202)!important;
	background: -ms-linear-gradient(top, #484c58, #020202)!important;
	background: -o-linear-gradient(top, #484c58, #020202)!important;
	background: linear-gradient(top, #484c58, #020202)!important;
	color: #FFF;
}

.tournament-table-spec th:nth-child(3),
.tournament-table-spec td:nth-child(3),
.tournament-table-spec th:nth-child(8),
.tournament-table-spec td:nth-child(8) {
	border-left-color: #820000;
	border-left-width: 2px;
}
.tournament-table-spec th:nth-child(12),
.tournament-table-spec td:nth-child(12) {
	border-right-color: #820000;
	border-right-width: 2px;
}
.tournament-table-spec .top td,
.tournament-table-spec .top:hover td {
	background: #d70000;
	background: -webkit-linear-gradient(top, #d70000, #820000);
	background: -moz-linear-gradient(top, #d70000, #820000);
	background: -ms-linear-gradient(top, #d70000, #820000);
	background: -o-linear-gradient(top, #d70000, #820000);
	background: linear-gradient(top, #d70000, #820000);
	color: #ffffff;
	font-size: 15px;
	font-weight: normal;
	line-height: 1em;
	border: none;
	padding: 6px;
}

/* EOF: TOURNAMENT TABLE */


/* BOF: MATCHES */

.node-type-match #content {
	background: url(../img/node_match_bg.png) no-repeat left top;
	padding-top: 0;
	padding-right: 245px;
	padding-left: 245px;
}
.node-type-match #content > h1 {
	display: none;
}

#node-match .match-page-nav-links {
	height: 12px;
	margin: 0 -245px;
	position: relative;
}

#node-match #match-page-prev-match-link,
#node-match #match-page-next-match-link {
	background: url(../img/prev_next_bg.png) no-repeat;
	color: #353535;
	height: 25px;
	line-height: 25px;
	position: absolute;
	top: 1px;
}
#node-match #match-page-prev-match-link {
	background-position: left top;
	left: 1px;
	padding: 0 0 0 30px;
}
#node-match #match-page-next-match-link {
	background-position: right bottom;
	right: 1px;
	padding: 0 30px 0 0;
}


#node-match .match-center-left-team,
#node-match .match-center-right-team {
	margin-top: 122px;
	position: relative;
	width: 240px;
}
#node-match .match-center-left-team {
	float: left;
	margin-left: -245px;
}
#node-match .match-center-right-team {
	float: right;
	margin-right: -245px;
}

#node-match .team-block h2 {
	background: #d70000;
	background: -webkit-linear-gradient(top, #d70000, #820000);
	background: -moz-linear-gradient(top, #d70000, #820000);
	background: -ms-linear-gradient(top, #d70000, #820000);
	background: -o-linear-gradient(top, #d70000, #820000);
	background: linear-gradient(top, #d70000, #820000);
	margin: 0;
}
#node-match .team-block h2 span {
	color: #ffffff;
	display: block;
	font-size: 15px;
	line-height: 1;
	padding: 8px 0 8px 20px;
}
#node-match .team-block-arsenal h2 span {
	background: url(../img/team_block_arsenal_bg.png) no-repeat right center;
}

#node-match .team-block .squad-player {
	background: #fff;
	border: 1px solid #dadada;
	border-top: 0 none;
	padding: 4px 20px;
}
#node-match .team-block .squad-player a {
	color: #353535;
}
#node-match .team-block .squad-player img {
	vertical-align: middle;
}
#node-match .team-block .squad-subs {
	background: #d3d3d3;
	background: -webkit-linear-gradient(top, #f4f4f4, #d3d3d3);
	background: -moz-linear-gradient(top, #f4f4f4, #d3d3d3);
	background: -ms-linear-gradient(top, #f4f4f4, #d3d3d3);
	background: -o-linear-gradient(top, #f4f4f4, #d3d3d3);
	background: linear-gradient(top, #f4f4f4, #d3d3d3);
	font-weight: bold;
	margin: 3px 0 0 0;
}

#node-match .match-teaser {
	overflow: hidden;
}
#node-match .match-teaser > h2 {
	display: none;
}

#node-match .match-teaser .players {
	text-align: center;
}

#node-match .match-teaser .team-block {
	background: url(../img/team_emblem_bg.png) no-repeat left top;
	display: inline-block;
	height: 58px;
	margin: 0 8px 6px;
	padding: 10px 4px 4px 4px;
	text-align: center;
	vertical-align: top;
	width: 64px;
}
#node-match .match-teaser .team-block .emblems-line {
	overflow: hidden;
	width: 64px;
}

#node-match .match-teaser .vs {
	display: inline-block;
	overflow: hidden;
	text-indent: -100em;
	vertical-align: top;
	width: 78px;
}

#node-match .match-teaser .team-line {
	margin: 10px 0;
	position: relative;
	text-align: center;
}

#node-match .match-teaser .match-centre-team,
#node-match .match-teaser .match-centre-match-result {
	display: inline-block;
	vertical-align: top;
}

#node-match .match-teaser .match-centre-team {
	width: 208px;
}
#node-match .match-teaser .match-centre-team:first-child {
	text-align: right;
}
#node-match .match-teaser .match-centre-team:last-child {
	text-align: left;
}

#node-match .match-teaser .match-centre-team-name {
	font-size: 26px;
	margin: 0 0 8px;
}

#node-match .match-teaser .match-centre-goals {
	line-height: 24px;
}

#node-match .match-teaser .match-centre-match-result {
	font-size: 26px;
	width: 74px;
}

#node-match .match-teaser .tournament {
	background: url(../img/tournament_bg.png) no-repeat center top;
	font-weight: bold;
	height: 24px;
	margin: 10px 0 0 0;
	padding: 6px 0 0 0;
	text-align: center;
}

#node-match .additional-info {
	background: #eeeeee;
	margin: -1px 0 0 0;
	padding: 12px 86px;
}
#node-match .additional-info:after {
	content: ".";
	display: block;
	height: 0pt;
	clear: both;
	visibility: hidden;
}
#node-match .additional-info .match-info-left {
	float: left;
	width: 144px;
}
#node-match .additional-info .match-info-right {
	float: right;
	width: 144px;
}


.node-type-match #block-system-main H3 {
	background: #4a4e5a;
	background: -webkit-linear-gradient(top, #4a4e5a, #000);
	background: -moz-linear-gradient(top, #4a4e5a, #000);
	background: -ms-linear-gradient(top, #4a4e5a, #000);
	background: -o-linear-gradient(top, #4a4e5a, #000);
	background: linear-gradient(top, #4a4e5a, #000);
	color: #fff;
	font-size: 15px;
	margin: 0;
	padding: 8px 0 8px 20px;
}
.node-type-match #block-system-main .views-row {
	background: #f1f1f1;
	background: -webkit-linear-gradient(top, #f1f1f1, #fff);
	background: -moz-linear-gradient(top, #f1f1f1, #fff);
	background: -ms-linear-gradient(top, #f1f1f1, #fff);
	background: -o-linear-gradient(top, #f1f1f1, #fff);
	background: linear-gradient(top, #f1f1f1, #fff);
	border: 1px solid #fff;
	padding: 10px 20px;
}
.node-type-match #block-system-main .views-row .views-field-title {
	font-size: 17px;
	font-weight: bold;
	margin: 0 0 6px;
}
.node-type-match #block-system-main .views-row .views-field-title a {
	color: #cb0000;
}

.node-type-match #block-system-main .views-field-created {
	font-size: 10px;
	color: #7b7b7b;
	margin: 6px 0 0;
}

/* EOF: MATCHES */


/* BOF: PLAYERS & TRAINERS */

.view-id-persons h3 {
	background: url(../img/person_h3_bg.png) no-repeat left top;
	color: #fff;
	font-size: 17px;
	height: 32px;
	line-height: 28px;	
	position: relative;
	text-align: center;
}

.view-id-persons .person {
	display: inline-block;
	margin: 0 8px 16px 8px;
	position: relative;
	vertical-align: top;
	width: 110px;
}
.view-id-persons .person a {
	color: #353535;
}
.view-id-persons .person a:hover {
	text-decoration: none;
}

.view-id-persons .person-photo {
	background: url(../img/photo_bg.png) no-repeat left top;
	height: 64px;
	margin: 0 auto;
	overflow: hidden;
	padding: 4px 4px 0 4px;
	text-align: left;
	width: 52px;
}
.view-id-persons .person-photo .field-content {
	overflow: hidden;
	width: 52px;
}
.view-id-persons .person-photo img {
	margin: 0 0 0 -2px;
}

.view-id-persons .person-name-holder {
	background: #d3d3d3;
	background: -webkit-linear-gradient(top, #f4f4f4, #d3d3d3);
	background: -moz-linear-gradient(top, #f4f4f4, #d3d3d3);
	background: -ms-linear-gradient(top, #f4f4f4, #d3d3d3);
	background: -o-linear-gradient(top, #f4f4f4, #d3d3d3);
	background: linear-gradient(top, #f4f4f4, #d3d3d3);
	border-radius: 3px;
	box-shadow: inset 0 0 5px rgba(255,255,255,0.5);
	box-shadow: 0 0 2px rgba(0,0,0,0.75);
	display: block;
	font-size: 11px;
	margin: 0 0 6px;
	padding: 2px 0;
	position: relative;
	z-index: 2;
}

.view-id-persons .person-last-name {
	display: inline-block;
	font-weight: bold;
	height: 13px;
	overflow: hidden;
	text-transform: uppercase;
}


.view-id-persons .players,
.view-id-persons .trainers {
	margin: 0 0 20px;	
	text-align: center;
}


.view-id-persons .trainers {
	border: 1px solid #e3e3e3;
	border-top: 0 none;
	padding: 0 18px 10px 18px;
}
.view-id-persons .trainers h3 { 
	margin: 0 -18px 14px -18px;
}


.view-id-persons .trainers-supply h3 {
  background-position: left bottom;
}


.view-id-persons .players {
  background-position: left 3px;
  background-repeat: no-repeat;
  overflow: hidden;
  padding: 0 30px;
}
.view-id-persons .players h3 { 
	margin: 0 -30px 14px -30px;
}

.view-id-persons .players .squad-player-number {
	background: url(../img/player_number_bg.png) no-repeat left top;
	color: #fff;
	font-size: 17px;
	font-weight: bold;
	height: 25px;
	padding: 0 21px 0 4px;
	position: absolute;
	top: 46px;
	left: 0;
	text-align: center;
	z-index: 1;
	width: 20px;
}

.view-id-persons .player-position-goalkeeper {
  background-image: url(../img/goalkeeper_bg.jpg);
  height: 175px;
}

.view-id-persons .player-position-defender {
  background-image: url(../img/defender_bg.jpg);
  height: 295px;
}

.view-id-persons .player-position-midfielder {
  background-image: url(../img/midfielder_bg.jpg);
  height: 414px;
}

.view-id-persons .player-position-forward {
  background-image: url(../img/forward_bg.jpg);
  height: 295px;
}

.view-id-persons .player-position-loaned {
  background: #e3e3e3;
  padding-bottom: 10px; 
}

/* EOF: PLAYERS & TRAINERS */

.page-gallery .fc-content-view,
.page-video .fc-content-view {
	position: absolute;
	right: 20px;
	top: 28px;
}


/* BOF: GALLERY */

.gallery-item {
	padding: 0 0 30px 34px;
}
.gallery-item a {
	color: #353535;
}

.gallery-item .gallery-image {
	margin: 0 0 10px;
	overflow: hidden;
	text-align: center;
	max-width: 206px;
} 
.gallery-item .gallery-image img {
	vertical-align: top;
}

/* EOF: GALLERY */


/* BOF: VIDEO */

.video-item {
	padding: 0 0 30px 34px;
}
.video-item a {
	color: #353535;
}

/* EOF: VIDEO */


/* BOF: AUDIO */

.node-audio {
	padding: 0 0 30px 34px;
}
.node-audio a {
	color: #353535;
} 

.node-audio .node-audio-title {
	font-size: 17px;
	margin: 0 0 6px;
}

.node-audio .audio-download img {
	margin: 0 5px 0 0; 
	vertical-align: middle;
}

/* EOF: AUDIO */


/* BOF: LIBRARY */

.book-item {
	margin: 0 0 30px 34px;
}
.row-last .book-item {
	margin-bottom: 0;
} 

.book-item .book-cover {
	float: left;
	width: 80px;
}
.book-item .book-cover img {
	vertical-align: top;
}

.book-item .book-info {
	overflow: hidden;
	padding: 0 0 0 14px;
}

.book-item .book-name {
	font-size: 17px;
	padding: 8px 0 0; 
}

.book-item .book-author {
	min-height: 26px;
	padding: 4px 0 0; 
}

.book-item .file-format {
	padding: 4px 0 0;
}

.book-item .download-link {
	padding: 6px 0 0; 
} 
.book-item .download-link a {
	background: #d4d4d4;
	background: -webkit-linear-gradient(top, #f2f2f2, #d4d4d4);
	background: -moz-linear-gradient(top, #f2f2f2, #d4d4d4);
	background: -ms-linear-gradient(top, #f2f2f2, #d4d4d4);
	background: -o-linear-gradient(top, #f2f2f2, #d4d4d4);
	background: linear-gradient(top, #f2f2f2, #d4d4d4);
	border: 1px solid #c3c3c3;
	border-radius: 4px;
	box-shadow: inset 0 0 5px #fff;
	color: #353535;
	display: inline-block;
	height: 16px;
	line-height: 14px;
	padding: 2px 6px 2px 3px;
	text-shadow: #fff 1px 1px;
	white-space: nowrap;
}
.book-item .download-link a:hover {
	text-decoration: none;
}
.book-item .download-link img {
	margin: 0 3px 0 0;
	vertical-align: top;
}

/* EOF: LIBRARY */


/* BOF: WALLPAPERS */

.page-wallpapers .views-view-grid td {
	padding: 0 0 30px 34px;
}

.page-wallpapers .views-view-grid .wallpaper-thumb-wrapper {
	margin: 0 0 10px;
}
.page-wallpapers .views-view-grid .wallpaper-thumb-wrapper img {
	vertical-align: top;
}

.page-wallpapers .views-view-grid a img {
	vertical-align: middle;
}

/* EOF: WALLPAPERS */


/* BOF: PARTNERS */

.page-node-4822 #content > h1 {
	display: none;
}


.page-node-4822 #block-system-main {
	background: url(../img/partners_bg.jpg) no-repeat left top;
	border-bottom: 5px solid #E3E3E3;
	color: #fff;
	height: 184px;
	margin: -20px -20px 0 -20px;
	padding: 0 20px;
}
.page-node-4822 #block-system-main h2 {
	color: #fff;
	font-size: 26px;
	line-height: 56px;
	margin: 0 0 12px 0;
	padding: 0;
}
.page-node-4822 #block-system-main a {
	color: #fff;
	text-decoration: underline;
}

.page-node-4822 #block-system-main .site-ads {
	float: left;
	width: 460px;
}
.page-node-4822 #block-system-main .site-ads p {
	margin: 0 0 0.5em;
}

.page-node-4822 #block-system-main .our-banners {
	float: right;
	width: 460px;
}
.page-node-4822 #block-system-main .our-banners code {
	font-family: Arial;
}


.page-node-4822 .block-views > h2 {
	border-bottom: 1px solid #E3E3E3;
	color: #000000;
	font-size: 26px;
	margin: 18px 0;
	padding: 0 0 8px;
}


#content .view-partner-sites .item-list {
	overflow: hidden;
}
#content .view-partner-sites .item-list ul {
	margin: -30px 0 0;
}
#content .view-partner-sites .item-list ul:after {
	content: ".";
	display: block;
	height: 0pt;
	clear: both;
	visibility: hidden;
}
#content .view-partner-sites .item-list li {
	background: none;
	display: inline-block;
	padding: 30px 0 0;
	text-align: center;
	vertical-align: top;
	width: 24.5%;
}
#content .view-partner-sites .item-list a {
	color: #353535;
}
*+html #content .view-partner-sites .item-list li {
	display: inline;
}

#content .view-partner-sites .partner-image {
	margin: 0 0 10px;
}
#content .view-partner-sites .partner-image img {
	vertical-align: top;
}

#content .view-partner-sites .views-field-title {
	font-size: 17px;
}

/* EOF: PARTNERS */


/* BOF: TOGETHER */

.together h3 {
	border-bottom: 1px dotted #000;
	font-weight: bold;
	margin: 20px 0 6px 0;
	padding: 0 0 6px;
}
.together p {
	margin: 0 0 1em;
}

/* EOF: TOGETHER */


.page-user #content {
	background: #fff url(../img/page_user_bg.png) no-repeat right bottom;
	min-height: 100px;
}
.page-user #content > h1 {
	display: none;
}


.page-user.not-logged-in .tabs {
	display: none;
}


/* BOF: LOGIN */

.login-title {
	font-size: 26px;
	line-height: 1;
	margin: 48px auto 12px auto;
	text-align: center;
	width: 346px;
}


#user-login {
	border-top: 1px solid #e3e3e3;
	padding: 20px 0 0;
	margin: 0 auto 48px auto;
	position: relative;
	width: 346px;
}

#user-login .form-item {
	margin: 0;
}
#user-login .form-item label {
	float: left;
	font-weight: normal;
	line-height: 22px;
	padding: 0 8px 0 0;
	text-align: right;
	width: 110px;
}
#user-login .form-item input {
	border: 1px solid #a5a5a5;
	border-radius: 3px;
	padding: 3px 5px;
	width: 216px;
}
#user-login .form-item .form-required,
#user-login .form-item .description {
	display: none;
}

#user-login .form-item-name {
	padding: 0 0 10px; 
}

#user-login .forgot-password a {
	position: absolute;
	right: 0;
	top: -34px;
}
#user-login .forgot-password a {
	color: #cb0000;
	text-decoration: underline;
}

#user-login .form-actions {
	border-top: 1px solid #e3e3e3;
	margin: 20px 0 0;
	padding:  20px 0 0;
	text-align: center;
}

/* EOF: LOGIN */


/* BOF: REGISTER */

.registration-title {
	font-size: 26px;
	line-height: 1;
	margin: 20px auto 12px auto;
	text-align: center;
}


#user-register-form {
	border-top: 1px solid #e3e3e3;
	padding: 20px 0 0;
	margin: 0 auto 20px auto;
	width: 706px;
}

#user-register-form .form-item {
	margin: 0 0 10px;
}
#user-register-form .form-item label {
	float: left;
	font-weight: normal;
	line-height: 22px;
	padding: 0 8px 0 0;
	text-align: right;
	width: 170px;
}
#user-register-form .form-item input,
#user-register-form .form-item select,
#user-register-form .form-item textarea {
	border: 1px solid #a5a5a5;
	border-radius: 3px;
	padding: 3px 5px;
}
#user-register-form .form-item input {
	width: 216px;
}
#user-register-form .form-item .description {
	font-size: 10px;
	padding: 4px 0 0 178px;
}
#user-register-form .form-select {
	width: 228px;
}

#user-register-form .form-textarea-wrapper {
	overflow: hidden;
}


#user-register-form .form-actions {
	border-top: 1px solid #e3e3e3;
	margin: 20px 0 0;
	padding:  20px 0 0;
	text-align: center;
}

/* EOF: REGISTER */


/* ====================================== EOF: PAGES ====================================== */

.archive-matches-wrapper td:first-child {
	text-align: center;
}
.archive-matches-wrapper .archive-match-events {
	border-top: 1px solid #e3e3e3;
	margin: 8px 0 0;
	padding: 8px 0 0;
	text-align: left;
}


.view-id-historical_facts .views-row {
	margin-bottom: 4px;
}

.view-id-historical_facts .views-field-field-historical-fact-date {
	float: left;
	width: 100px;
}


.right-part .post-info {
	float: right;
}
.right-part .post-info .date {
	float: right;
	display: block;
	clear: both;
}
.right-part .post-info .author {
	float: right;
	display: block;
	clear: both;
}
.right-part .post-info .source {
	margin-top: 10px;
	margin-bottom: 10px;
}
.right-part .post-info .label {
	font-weight: bold;
}


.biography-list-column {
	padding-bottom: 10px;
	width: 150px;
	vertical-align: top;
}
.biography-list-column:hover {
	background-color: #F1F1F1;
	outline: 1px solid #D1D1D1;
}


.header1 {
	color: #000;
}
